.counts .blue {
    font-size: 42px;
    color: #4154f1;  
}

.counts .orange {
    font-size: 42px;
    color: #ee6c20;  
}

.counts .green {
    font-size: 42px;
    color: #15be56;  
}

.counts .red {
    font-size: 42px;
    color: #bb0852;  
}